<div class="deputado-tabs">
  <mat-tab-group mat-align-tabs="start" backgroundColor="primary">
    <mat-tab label="Sobre">
      <p class="deputado-tabs-par">
        Nome completo:
      </p>
      <p class="deputado-tabs-par">
        Data de nascimento:
      </p>
      <p class="deputado-tabs-par">
        Sexo:
      </p>
      <p class="deputado-tabs-par">
        Email:
      </p>
      <p class="deputado-tabs-par">
        Website:
        <a class="deputado-tabs-link" href="#" target="_blank">website</a>
      </p>
    </mat-tab>
    <mat-tab label="Eventos">
      <h2 class="deputado-tabs-par">Último evento:</h2>
      <p class="deputado-tabs-par">
        Data/hora de início:
      </p>
      <p class="deputado-tabs-par">
        Data/hora de fim:
      </p>
      <p class="deputado-tabs-par">
        Tipo de evento:
      </p>
      <h2 class="deputado-tabs-par">Próximo evento:</h2>
      <p class="deputado-tabs-par">
        Data/hora de início:
      </p>
      <p class="deputado-tabs-par">
        Tipo de evento:
      </p>
      <p class="deputado-tabs-par">
        Situação do evento:
      </p>
    </mat-tab>
    <mat-tab label="Despesas">
      <h2 class="deputado-tabs-par">Todas</h2>
      <p class="deputado-tabs-par">
        Tipo:
      </p>
      <p class="deputado-tabs-par">
        Valor:
      </p>
      <p class="deputado-tabs-par">
        Data:
      </p>
      <p class="deputado-tabs-par">
        Link:
      </p><hr>
      <h2 class="deputado-tabs-par">Última despesa:</h2>
      <p class="deputado-tabs-par">
        Tipo:
      </p>
      <p class="deputado-tabs-par">
        Valor:
      </p>
      <p class="deputado-tabs-par">
        Data:
      </p>
      <h2 class="deputado-tabs-par">Maior despesa:</h2>
      <p class="deputado-tabs-par">
        Tipo:
      </p>
      <p class="deputado-tabs-par">
        Valor:
      </p>
      <p class="deputado-tabs-par">
        Data:
      </p>
    </mat-tab>
    <mat-tab label="Projetos de Lei">
      <h2 class="deputado-tabs-par">
        Projeto:
      </h2>
      <p class="deputado-tabs-par">
        Número:
      </p>
      <p class="deputado-tabs-par">
        Ano:
      </p>
      <p class="deputado-tabs-par">
        Ementa:
      </p>
    </mat-tab>
  </mat-tab-group>
</div>
