.filters {
  max-width: 1200px;
  margin: 20px auto;
  padding-left: 20px;
}

::ng-deep {
  .mat-form-field-infix {
    background-color: #155799;
  }

  .mat-select-value,
  .mat-select-arrow,
  .mat-form-field-hide-placeholder .mat-select-placeholder,
  .mat-form-field-appearence-legacy .mat-form-field-label {
    color: #fff !important;
    opacity: 1;
  }

  .mat-form-field-infix {
    border-color: #fff !important;
    border-top: none;
    padding-left: 5px !important;
  }

  .mat-form-field-appearence-legacy .mat-form-field-lable {
    padding-left: 5px;
  }

  .mat-form-field-appearence-legacy .mat-form-field-underline {
    background-color: #fff !important;
  }
}

.deputados {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 20px auto;
}

.deputado {
  width: 200px;
  margin: 10px;
  height: 300px;
  overflow: hidden;
  border-radius: 5px;
  background-color: #155799;
  box-shadow: 2px 2px 8px 0px #579915;
  transition-duration: 0.8s;
  cursor: pointer;

  &:hover {
    box-shadow: 0.3px 3px 11px 4px #62dc16;
    transform: translateY(-3px);
  }

  &-thumb-container {
    background-color: #fff;
    position: relative;
    height: 200px;
    color: #fff;
    text-align: center;
  }

  &-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 200px;
  }

  &-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;

    &-item {
      color: white;
      text-align: center;
    }
  }
}
