<div class="filters">
  <mat-form-field>
    <mat-label>Sort</mat-label>
    <mat-select
      panelClass="sort-select"
      [(ngModel)]="sort"
      (selectionChange)="searchDeputados(sort)"
    >
      <mat-option value="name">Nome</mat-option>
      <mat-option value="-released">Partido</mat-option>
      <mat-option value="-added">Estado</mat-option>
      <mat-option value="-created">Sexo</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div class="deputados">
  <ng-container *ngFor="let deputado of deputados">
    <div class="deputado" (click)="openDeputadoDetails(deputado.id)">
      <div class="deputado-thumb-container">
        <img
          *ngIf="deputado.urlFoto"
          src="{{ deputado.urlFoto }}"
          alt="thumbnail"
          class="deputado-thumbnail"
        >
        <p *ngIf="!deputado.urlFoto">No image</p>
      </div>
        <div class="deputado-description">
          <p class="deputado-name">{{ deputado.nome }}</p>
          <div class="deputado-platforms">
            <img
             class="deputado-platform"
             src="assets/images/platforms/xbox.svg"
             alt="{{ deputado.urlFoto }}"
            >
          </div>
        </div>
    </div>
  </ng-container>
</div>
