<div class="details">
  <div class="deputado-banner">
    <img
      class="deputado-banner-img"
      src="{{ deputado.urlFoto }}"
      alt="background image"
    />
  </div>
  <div class="deputado-content">
    <div class="details-wrapper">
      <div class="deputado-header">
        <h1 class="deputado-header-title">{{ deputado.nome }}</h1>
        <h2 class="deputado-header-release-date">
          Release: {{ deputado.siglaPartido | date }}
        </h2>
        <p class="deputado-header-genres">
          <span>
            {{ deputado.siglaUf }}
          </span>
        </p>
      </div>
      <app-deputado-tabs [deputado]="deputado"></app-deputado-tabs>
    </div>
  </div>
</div>
