<div class="details">
  <div class="deputado-banner">
    <img
      class="deputado-banner-img"
      src="../../../assets/images/platforms/linux.svg"
      alt="background image"
    />
  </div>
  <div class="deputado-content">
    <div class="details-wrapper">
      <div class="deputado-header">
        <h1 class="deputado-header-title">Nome do Deputado</h1>
        <h2 class="deputado-header-release-date">
          Partido - Estado
        </h2>
      </div>
      <app-deputado-tabs [deputado]="deputado"></app-deputado-tabs>
    </div>
  </div>
</div>
